*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: whitesmoke;
}
.products{
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  background: white !important;
  gap: 25px;
}
.product{
  background-color: white;
  width: 70px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}
.product img{
  width: 60px;
  height: 60px;
  object-position: center;
  object-fit: fill;
  height: auto;
  transition: .3s all ease-in-out;
  
  background: white;
}

.product p{
  font-size: 10px;
}

p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
}
.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: white;
  padding-top: 5px;
  gap: 3px;
}
.actions svg{
  fill: white;
}
.actions div, .actions svg {
  background-color: #e64daa;
}
.actions div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  7px 8px;
  border-radius: 6px;
  cursor: pointer;
}
.actions .add, .actions .add svg{
  background-color: #fa8917;
}
.incart{
  position: absolute;
  z-index: 999;
  top: -4px;
  right: -4px;
  padding: 5px;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #fa8917;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
}
.cart *{
  background-color: white;
}

.cart{
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}
.cart .item{
  padding: 5px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: white;
}
.cart .item img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}
.cart .item div{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}
.cart .info{
  flex: 1;
}
.cart span{
  font-size: 12px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}
input{
  padding: 5px;
  background-color: white;
  max-width: 100% !important;
  width: 100%;
}.form-control {
  width: 100% !important;
}
.shipping{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid whitesmoke;
}
.shipping .info{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;
  flex: 1;

}
.shipping .info span:last-child{
 color: rgb(118, 118, 118);

}
.btn{
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.thankyou{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.thankyou h1{
  text-align: center;
}
.thankyou svg{
  height: 60px;
  fill: rgb(10, 152, 97);
}