*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: whitesmoke;
}
.products{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.product{
  background-color: white;
  width: 25%;
  height: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border: 4px;
  min-width: 140px;
  position: relative;
}
.product img{
  width: 100%;
  object-position: center;
  object-fit: fill;
  height: 150px;
  transition: .3s all ease-in-out;
}
.product img:hover{
  transform: scale(0.7);
  object-fit: fill;
  object-position: center;
}

p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
}
.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: white;
  padding-top: 5px;
}
.actions svg{
  fill: white;
}
.actions div, .actions svg {
  background-color: red;
}
.actions div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.actions .add, .actions .add svg{
  background-color: rgb(228, 205, 0);
}
.incart{
  position: absolute;
  top: -4px;
  right: -4px;
  padding: 5px;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: rgb(228, 205, 0);
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
}
.cart *{
  background-color: white;
}

.cart{
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}
.cart .item{
  padding: 5px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: white;
}
.cart .item img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}
.cart .item div{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}
.cart .info{
  flex: 1;
}
.cart span{
  font-size: 12px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}